@{
    ViewBag.Title = "About";
}

<div class="card text-white bg-info my-5 col-12">
    <div class="card-header font-weight-bold">About Us</div>
    <div class="card-body">
        <h5 class="card-title">Our Intention!</h5>
        <p class="card-text">
            This is Non Commercial application and this is all about to share the good and rare authentic information which
            is available in Arabic & Urdu and Not available in Telugu.

        </p>
        <p>
            Here we can found Section wise information
            i.e, Hadith, Quran Aayaths and Duas.
        </p>
        
    </div>
    <hr />
    <div class=" font-weight-bold  ml-3" style="text-decoration: underline;">Content Written By:</div>
    <div class="card-body">
        @*<h5 class="card-title" style="color:yellow">Farman Khan </h5>*@
        <span>mail: farmankhan@gmail.com</span>
    </div>
    <hr />
    <div class=" font-weight-bold  ml-3" style="text-decoration: underline;">Application Design and Developed By:</div>
    <div class="card-body">
        @*<h5 class="card-title" style="color:yellow">Shabbir Gundala </h5>*@
        <span>mail: shabbirgv@gmail.com</span>
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>